{% extends "todo/base.html" %}

{% block content %}
<div class="row justify-content-center mt-5" style="position: relative;">
    <div class="col-md-10">
        <h1> Теги</h1>
        <br>
        <form action="{% url 'create_tag' %}">
        <button type="submit" class="btn btn-info" style="position: absolute; right: 0;">Создать</button>
        </form>
    </div>
</div>
<hr>
{% for tag in tags %}
<div class="row justify-content-center mt-4" style="position: relative;">
             <div class="col-md-9">
                 <h7>{{ tag }}</h7>
             </div>
            <div class="col-md-4" style="position: absolute; right: 0;">
                <form action="{% url 'up_date_tag' tag.id %}"
                      style="display: inline-block">
                    <button class="btn btn-link" type="submit">
                        Изменить
                    </button>
                </form>
                <form action="{% url 'delete_tag' tag.id %}"
                      style="display: inline-block">
                    <button class="btn btn-link" type="submit">
                        Удалить
                    </button>
                </form>
            </div>
        </div>
<hr>
{% endfor %}

{% endblock %}