{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <h1> Текущих задач: {{ todos|length }}</h1>
            {% else %}
                <h1>Текущие задачи</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
            <form action="{% url 'search_current' %}" method="post" style="display: flex; justify-content: center;">
                {% csrf_token %}
                <input class="form-control" name="search_current" value="{{search_current}}" placeholder="Поиск по задачам">
                <button style="margin-left: 10px" class="btn btn-info" type="submit">Найти</button>
            </form>
            </div>
            <br>
            <div class="container">
                <ul>
                    {% for tag in tags %}
                    <li style="display:inline-block; margin-right: 20px;"><a
                            href="{% url 'detail_tag' tag.pk %}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div class="list-group">
                {% for todo in todos %}
                 <div class="card" style="margin-bottom:10px">
                     <div class="card-header">
                            {{ todo.created }}
                        </div>
                        <a href="{% url 'up_date_todo' todo.id %}"
                   class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}">
                        <div class="card-body">
                           <b>{{ todo.title }}</b>
                            {% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}
                        </div>
                        </a>
                </div>
                {% endfor %}
            </div>
            {% else %}

            <div class="list-group">
            <form action="{% url 'search_current' %}" method="post" style="display: flex; justify-content: center;">
                {% csrf_token %}
                <input class="form-control" name="search_current" value="{{search_current}}" placeholder="Поиск по задачам">
                <button style="margin-left: 10px" class="btn btn-info" type="submit">Найти</button>
            </form>
            </div>
            <br>
            <br>
            {% if search_current is None or search_current == '' %}
            <div class="text-center">
                <h2><i>Похоже, у вас нет задач</i></h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'add_todo' %}">Добавить задачу</a>
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
