{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if todo.datecompleted %}
                <h3 style="color:red;">Задача завершена</h3>
            {% else %}
            <h2>Редактирование задачи</h2>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Заголовок</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{ todo.title }}" required>
                </div>
                <div class="form-group">
                    <label for="memo">Описание</label>
                    <textarea name="memo" rows="5" class="form-control" id="memo" >{{ todo.memo }}</textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="important" class="form-check-input" id="important" {% if todo.important %}checked{% endif %}>
                    <label class="form-check-label" for="important">Срочно</label>
                </div>
                <div class="form-group">
                    <label>Теги</label>
                    <br>
                    <select style="width:250px; padding:5px;" name="tag"
                            id="id_tag" multiple="">
                        {% for tag in tags %}
                                {% if tag in todo.tag.all %}
                                    <option value="{{ tag.id }}" selected>{{ tag }}</option>
                                {% else %}
                                    <option value="{{ tag.id }}">{{ tag }}</option>
                                {% endif %}
                        {% endfor %}
                    </select>
                    <a style="margin-left:10px;"
                       href="{% url 'control_tags' %}">Управление тегами</a>
                </div>
                {% if todo.datecompleted is None %}
                    <button type="button" class="btn btn-info" onclick="$('#complete_back').click()">Назад</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-success" onclick="$('#complete').click()">Завершить</button>
                {% else %}
                    <button type="button" class="btn btn-info" onclick="$('#delete_back').click()">Назад</button>
                    <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Удалить</button>
                {% endif %}
            </form>
        </div>
    </div>

        <form style='display: none;' method="POST" action="{% url 'complete_todo' todo.id %}">
             {% csrf_token %}
            <button id="complete" type="submit">Завершить</button>
        </form>
        <form style='display: none;' method="POST" action="{% url 'delete_todo' todo.id %}">
           {% csrf_token %}
           <button id="delete" type="submit">Удалить</button>
        </form>
        <form style='display: none;' action="{% url 'current_todos' %}">
             {% csrf_token %}
            <button id="complete_back" type="submit">Назад</button>
        </form>
        <form style='display: none;' action="{% url 'completed_todos' %}">
           {% csrf_token %}
           <button id="delete_back" type="submit">Назад</button>
        </form>


{% endblock %}
